<!-- 메뉴(선언) templates/include/menu.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div id="header" th:fragment="nav">

    <a href="#" class="nav-toggle-btn"><i class="fas fa-bars"></i></a>
    <div class="nav-logo">
        <a href="/"><span>🎵</span><span>NUBILA</span></a>
    </div>
    <ul class="nav-menu">
        <li><a href="/search">정류소/경로 찾기</a></li>
        <li sec:authorize="isAuthenticated()">
            <a href="/bookmark">즐겨찾기</a>
        </li>
        <li><a href="/support">Support</a></li>
    </ul>
    <ul class="nav-member">
        <li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
        <li sec:authorize="isAnonymous()"><a href="/user/join">회원가입</a></li>
        <!--<li style="display: none"><a href="/user/myPage">마이페이지</a></li>-->
        <li sec:authorize="isAuthenticated()"><a href="/myInfo">마이페이지</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">관리자</a></li>
<!--        <li><a href="/admin">관리자</a></li>-->
        <li sec:authorize="isAuthenticated()"><form action="/user/logout" method="post"><button type="submit">logout</button></form></li>
    </ul>
</div>

</body>
</html>

