@charset "UTF-8";
/* 헤더 navbar */
#header {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
#header h2{ margin: 1rem;}
/*#header h2,*/
#header li{
    font-weight: 600;
    padding: .5em;
}
.nav-menu, .nav-member{
    display: flex;
}
.nav-menu a, .nav-member a {
    color: #4a4a4a;
}
/*:is(.nav-menu, .nav-member) a:hover{*/
.nav-menu a:hover, .nav-member a:hover{
    color: #1dc078;
}
.nav-logo{
    flex-grow:1;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}
.nav-menu{flex-grow: 3}
.nav-member{
    flex-grow:1;
    justify-content: flex-end;
}
.nav-member li {
    background-color: rgba(69, 120, 220, 0.1);
    border-radius: 10px;
    margin-left: 6px;
}
.nav-member button {
    border: none;
    font-size: 1em;
    background-color: transparent;
    font-weight: 600;
    color: #4a4a4a;
}
.nav-toggle-btn {
    display: none;
}

/* contianer section*/
section {
    overflow:hidden;
}

#side-menu-nav, #container {
    float: left;
}
#side-menu-nav{
    width:25%;
}

#container {
    width:70%;
}

#content-section h1, #container h1 {
    color: green;
    margin:20px;
    font-weight: bold;
}

#side-menu {
    list-style: none;
    margin: 20px;
}

#side-menu li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

#side-menu li.selected {
    color: green;
}

#menu-name {
    margin-top: 10px;
}

table{
    margin: 10px;
}

#title-td{
    cursor: pointer;
}

#noticelist-btn, #writeanswerbtn {
    margin-top: 10px;
    float: right;
}

#writeinquerybtn {
    float: right;
}

/* 모달 영역 */
#modal.modal-overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-dialog{
    width: 70%;
}


