@charset "UTF-8";

/* contianer section*/
section {
    overflow:hidden;
    margin-top: 2em;
}

#side-menu-nav, #container {
    float: left;
}
#side-menu-nav{
    width:25%;
}

#side-menu-nav h1{
    text-align: center;
    color: black;
    margin: 20px 20px 2rem;
    font-weight: bold;
    font-size: 25px;
}

#container {
    width:70%;
}

#content-section h1, #menu-name {
    color: black;
    margin: 20px 20px 2rem;
    font-weight: bold;
    font-size: 25px;
}

#side-menu {
    list-style: none;
    margin: 20px;
    text-align: center;
}

#side-menu li {
    margin: 10px 10px 1rem;
    font-weight: bold;
    cursor: pointer;
}

#side-menu li.selected {
    color: #57c17c;
}

.table{
    width: 90%;
}

#title-td{
    cursor: pointer;
}
.card {
    margin-top: 2rem;
}

.card-header{
    font-weight: bold;
}

.list-group-item{
    padding: 16px;
    color: #4A4A4A;
}
#answers > li.list-group-item.list-group-item-success{
    background-color: #d1e7dd66;
}

#noticelist-btn, #writeanswerbtn, #deleteInquerybtn, #answerbtn {
    margin-top: 10px;
    float: right;
}

#writeinquerybtn, #deleteanswerbtn, #answerupdatebtn {
    float: right;
}
#deleteanswerbtn {
    margin-top: 3rem;
}

#answerCreatedate {
    float:left;
}

#answerContent{
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-success {
    background-color: #57c17c;
}

#list-btn {
    margin-top: 10px;
}

#inquery-info, #answerCreatedate {
    font-size: 0.8rem;
    margin-top: 3rem;
}

#deletebtn {
    color: #57c17c;
    background-color: #ffffff;
    border-color: #57c17c;
}

#answer-div {
    justify-content: left;
    display: block;
}

/* 모달 영역 */
#modal.modal-overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-dialog{
    width: 70%;
}

#modal > div > div > div.modal-body > form {
    padding: 12px;
}
