<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/haonstyle.css" th:href="@{/css/haonstyle.css}">
    <link th:href="@{/css/user.css}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/12cca3ed35.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/header.js}" defer></script>
    <title>NUBILA🎵 아이디 찾기</title>
</head>
<body>
<div th:replace="fragments/header :: nav"></div>
<div id="main-container">
    <div th:replace="fragments/mainImage :: mainImage"></div>
</div>
<div class="container">
    <div class="py-5 font-bold margin-bottom-5">
        <h4>아이디 찾기</h4>
    </div>
    <div class="text-center form-div">
        <div class="SearchDiv">
            회원님의 아이디는 <span th:text="${user_login_id}"></span> 입니다.
        </div>
    </div>
    <br>
    <div class="text-center">
        <button class="w-45 btn btn-ok btn-lg" onclick="location.href='/user/login'">로그인</button>
        <button class="w-45 btn btn-ok btn-lg" onclick="location.href='/user/pwSearchForm'">비밀번호 찾기</button>
    </div>
</form> <br>
</div>
<script>
    const toggleBtn = document.querySelector(".nav-toggle-btn");
    const menu = document.querySelector(".nav-menu");
    toggleBtn.addEventListener('click', ()=>{
        menu.classList.toggle('active');
    });

</script>
</body>
</html>