<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/haonstyle.css" th:href="@{/css/haonstyle.css}">
    <link th:href="@{/css/user.css}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/12cca3ed35.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/header.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/myInfo.js}"></script>
    <title>NUBILA 마이페이지</title>
</head>
<body>
<div th:replace="fragments/header :: nav"></div>
<div id="main-container">
    <div id="section-intro">
        <div id="introduction">
            <h1>
                NUBILA?<br>
            </h1>
            <h2>
                누비자 타고<br>
                창원 곳곳을 맘껏 누벼라!<br>
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="py-5 font-bold">
        <h4>이메일 재설정</h4>
    </div>
    <form th:action method="post" onsubmit="return validation_myInfoEmailChangeForm()">
        <div class="form-div">
            <label for="email">이메일</label>
            <input type="text" id="email" name="email"
                   class="form-control" oninput="checkEmail()">
            <span class="email_ok">사용가능한 이메일입니다.</span>
            <span class="email_already">이미 사용중인 이메일입니다.</span>
            <span class="email_invalid">이메일 형식이 올바르지 않습니다.</span>
            <input type="hidden" id="emailCheck">
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-ok btn-lg" type="submit">확인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-ok-white btn-lg"
                        onclick="history.go(-1)" type="button">취소</button>
            </div>
        </div>
    </form>
</form>
</div>
<script>
    const toggleBtn = document.querySelector(".nav-toggle-btn");
    const menu = document.querySelector(".nav-menu");
    toggleBtn.addEventListener('click', ()=>{
        menu.classList.toggle('active');
    });

</script>
</body>
</html>